*{
    margin: 0%;
    padding: 0%;
}

.container {
    margin: 2% 5%;
    padding: 2%;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    font-weight: 700;
}

.section-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.character {
    width: 22%;
    margin: 20px 0;
    padding: 1%;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.character:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.character img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.info-character {
    padding: 1rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #555;
}
